/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_self
*= require bootstrap.min.css
*= require swiper.min.css
*= require hamburgers.min.css
*= require animate.min.css
*= require jquery.fancybox.min.css
*= require font-awesome.css
*= require font-awesome.min.css
*= require ionicons.min.css
*= require line-icons.css
*= require line-icons-pro.css
*= require a-linea-icons.css
*= require b-linea-icons.css
*= require e-linea-icons.css
*= require s-linea-icons.css
*= require boomerang.min.css
*= require custom-style.css
*= require_tree .
*/

.transformation:hover {
	transform: matrix(1, -0.1, 0, 1, 0, 0);
}

.bgtransform:hover {
	background-color: #E61D25;
	color:white;
}

.underlined {
  position: relative;
  text-decoration: none;
}

.underlined:hover, .underlined:active, .underlined:focus {
  color: #2FBEB7;
}

.underlined:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #363390;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.underlined:hover:before, .underlined:active:before, .underlined:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


html { scroll-behavior: smooth; } 

#essai {
  position: relative;
  left:25%;
  width: 50%;  
}
.imageo {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#essai:hover .imageo {
  opacity: 0.3;
}

#essai:hover .middle {
  opacity: 1;
}